.ViewNFTs {
    text-align: center;
}

.ViewNFTs-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.nft-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nft-item {
    margin: 10px;
    text-align: center;
}

.nft-item img {
    width: 200px;
    height: 300px;
    border: 5px solid #61dafb;
    border-radius: 15px;
}

.nft-item p {
    color: #61dafb;
}