.ViewNFTs {
    text-align: center;
}

.ViewNFTs-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.nft-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nft-item {
    margin: 10px;
    text-align: center;
}

.nft-item img {
    width: 200px;
    height: 300px;
    border: 5px solid #61dafb;
    border-radius: 15px;
}

.nft-item p {
    color: #61dafb;
}
.nft-image-small {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* Para asegurarte de que la imagen no se deforma */
}


.nft-image-small {
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.ViewNFTs-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nft-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.nft-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 8px;
    width: 200px;
    height: 30px;
    /* Ajusta este valor según tus necesidades */
}

.nft-image-small {
    width: 50px;
    height: 30px;
    object-fit: cover;
}

.token-id {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}