.ViewNFTs {
    text-align: center;
}

.ViewNFTs-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.nft-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nft-item {
    margin: 10px;
    text-align: center;
}

.nft-item img {
    width: 200px;
    height: 300px;
    border: 5px solid #61dafb;
    border-radius: 15px;
}

.nft-item p {
    color: #61dafb;
}


.nft-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.nft-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f9f9f9;
        padding: 10px;
    border-radius: 8px;
    width: 300px;
        /* Ajusta este valor según tus necesidades */
}

.ViewNFTs-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* Cambia el color del texto a blanco */
}

.nft-table {
    width: 50%;
    max-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
    /* Añadir sombra azul a la tabla */
}

.nft-table th,
.nft-table td {
    border: 1px solid #007bff;
    text-align: center;
    color: white;
    /* Cambia el color del texto a blanco */
}

.nft-table th {
    background-color: #007bff;
}

.nft-table td {
    background-color: #333;
}
.nft-image-small {
    width: 30px;
    height: 30px;
        border: 2px solid #007bff;
            /* Borde del mismo color que el fondo del botón */
            border-radius: 5px;
    object-fit: cover;
}

.token-id {
    font-size: 10px;
        color: white;
        /* Cambia el color del texto a blanco */
}